*{
    font-family: 'Noto Sans KR', sans-serif; 
    list-style:none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000; 
}

.intro_bg{
    background-image:url("../image/intro.png");    
    width:100%;
    height:710px;  
}

.header{
    display:flex;
    width:1280px;
    margin:auto;
    /* background-color:red; */
    height:86px;
}

.searchArea{
    width:300px;    
    height:40px;
    background-color:rgba(0,0,0,0.5) ;
    border-radius:5px;
    /* search area 하나를 작게 만듬 영역 나눈듯 그리고 backgronud에서 더 세세하게 
    나눠서 image color 넣어주는게 좋은 코드 */
    margin-top: 24px;
    /* line-height:86px;마진을 넣어주는 이유가 초록색 배경도 같이가야해서 */
}

.searchArea>form>input{
    border:none;
    background-color:rgb(0,0,0,0);
    color:#fff;
    padding-left:30px;
    width:25opx;
    height:40px;
}

.searchArea>form>span{
    width:50px;    
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    

}    
.nav{
    display:flex;   
    width:calc(1280px );
    justify-content: flex-end;
    /* background-color:blue; */
    line-height: 86px;
}

.nav > li{
    margin-left:84px;
}

.nav > li > a{
    color:#fff;

}